* {
    box-sizing: border-box;
}
.loginPage .container {
    margin: 0 auto;
}
.loginPage .innerContainer {
    max-width: 879px;
    margin: 0 auto;
    padding: 20px 28px 20px;
    border: 2px solid #d1d1d1;
    border-radius: 20px;
    background: #ffffff;
}
.loginPage .whiteContainer {
    background: #fff;
    padding: 0 155px;
    border-radius: 10px;
}
.loginPage .steps {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 100px;
    margin: 0;
    font-family: Baloo Bhaijaan;
}
.loginPage .topContainer {
    padding:0;
}
.loginPage .topContainer .done {
    font-family: Baloo Bhaijaan;
    font-size: 32px;
    color: #3cac71;
    text-decoration: none solid rgb(60,172,113);
    text-align: center;
    margin: 0;
}
.loginPage .topContainer .greenHeadTitle {
    height: auto;
    font-family: Baloo Bhaijaan;
    font-size:55px;
    color: #3cac71;
    text-align: center;
    margin:0;
}
.loginPage .bottom_container {
    max-width: 300px;
    margin: 0 auto;
}
.loginPage .facebook {
    width: 300px;
    height: 50px;
    background-color: #3b579d;
    background-repeat: no-repeat;
    font-family: PT Sans;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 97px 0 0;
    cursor: pointer;
}
.loginPage .facebook img {
    width: 19px;
    height: 15px;
    margin: 0 18px 0 0;
}
.loginPage .Login {
    width: 300px;
    height: 50px;
    background-color: #ff530d;
    background-repeat: no-repeat;
    font-family: PT Sans;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
.loginPage .form_div {
    padding-top:0;
}
.loginPage .form_div p {
    font-family: PT Sans;
    font-size: 14px;
    color: #757575;
    text-decoration: none solid rgb(117,117,117);
    text-align: center;
}
.loginPage .formField {
    margin: 0 0 14px;
}
.loginPage .formField .inputTypeOne {
    width: 300px;
    height: 50px;
    border-width: 2px;
    border-radius: 0px;
    border-color: rgb(163,163,163);
    border-style: solid;
    background-color: #ffffff;
    font-family: PT Serif;
    font-size: 14px;
    text-decoration: none solid rgb(166,166,166);
    line-height: 66px;
    outline: none;
    padding: 0 10px 0 20px;
}
.loginPage .notAccount {
    font-family: Baloo Bhaijaan;
    font-size: 14px;
    color: #757575;
    text-decoration: none solid rgb(117,117,117);
    text-align: center;
    padding-top:15px;
}
.loginPage .signin {
    text-align: center;
}
.loginPage .signin a {
    font-family: Baloo Bhaijaan;
    font-size: 14px;
    color: #2a34b1;
    text-decoration: none solid rgb(158,224,255);
}
.loginPage .warning {
    color: rgb(241,58,58);
    font-size: 12px;
}
.loginPage .formMsgs {
    text-align: center;
}
.loginPage .formMsgs .warning {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
.loginPage .hide {
    display: none;
}
.loginPage .linkOne {
    font-family: "Pt Sans";
    text-align: center;
    font-size: 12px;
    line-height: normal;
}
.loginPage .linkOne a {
    text-decoration: none;
    color: rgb(71,71,71);
}
.loginPage .facebookLogin {
    width: 300px;
    height: 50px;
    background-color: #3b579d;
    background-repeat: no-repeat;
    font-family: PT Sans;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.loginPage .marginTopTwenty {
    margin-top: 20px;
}
.loginPage .marginBottomfifteen {
    margin-bottom: 21px;
}
.loginPage .fbTop {
    display: none;
}
.loginPage .fbBottom {
    display: block;
}
.loginPage .fbTop .facebookLogin {
    margin: 0 0 25px;
}
#app,#app > div{
    height:100%;
}
@media (max-width:875px) {
    .loginPage .whiteContainer {
        padding: 65px 37px;
        border: none;
        border-radius: 0;
    }
}
@media (max-width:767px) {
    .loginPage .fbTop {
        display: block;
    }
    .loginPage .fbBottom {
        display: none;
    }
    .loginPage .innerContainer {
        border: 1px solid #757575;
        border-radius: 0;
        margin: 0 30px;
        padding: 0;
    }
    .loginPage .topContainer .greenHeadTitle {
        font-size: 32px;
        margin: 0;
    }
    .loginPage .innerContainer {
        background: #fff;
    }
    .loginPage .whiteContainer {
        padding: 15px;
    }
    .loginPage .topContainer .done {
        font-size: 16px;
    }
    .loginPage .topContainer p {
        font-size: 14px;
    }
    .loginPage .signup {
        margin: 15px 0 50px;
    }
    .loginPage .facebook {
        margin: 10px 0;
    }
    .loginPage .innerLogo {
        display: none;
    }
    .loginPage .signupBtn {
        margin: 15px 0 20px;
    }
    .loginPage .notAccount {
        padding-top: 40px;
    }
}
@media (max-width:420px) {
    .loginPage .bottom_container {
        max-width: 280px;
    }
    .loginPage .facebookLogin, .loginPage .formField .inputTypeOne, .loginPage .Login {
        width: 270px;
    }
}
@media (max-width:360px) {
    .loginPage .bottom_container {
        max-width: 240px;
    }
    .loginPage .facebookLogin, .loginPage .formField .inputTypeOne, .loginPage .Login {
        width: 230px;
    }
}