.PreferenceAdminBottom{
    height: 51px;
    border: 2px solid #a4abbf;
    background-color: #d1d1d1;
    font-family: Comfortaa;
    font-size: 17px;
    color: #000;
    display: block;
    padding: 10px 5px 0;
}
.PreferenceAdminBottom .users{
    font-family: Comfortaa;
    font-size: 17px;
    color: #000000;
    float: left;
}
.PreferenceAdminBottom .users .AgentName{
    font-style:italic; 
}
.PreferenceAdminBottom .updated{
    font-family: Comfortaa;
    font-size: 17px;
    color: #000000;
    float: right;
}
@media (max-width:1024px){
    .PreferenceAdminBottom .users,
    .PreferenceAdminBottom .updated{
        font-size:14px;
    }
}