.AdminDashboard .container {
  clear: both;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
}

.AdminDashboard .leftContainer {
  height: 100%;
  float: left;
  width: 49.25%;
  min-height: 100vh;
  position: relative;
}

.AdminDashboard .TopHeading {
  font-family: Comfortaa;
  font-size: 36px;
  color: #ffffff;
  background: #39A469;
  text-align: center;
  padding: 22px 0;
}

.AdminDashboard .TripPreferenceBox {
  margin: 0 0 50px;
}

.AdminDashboard .rightContainer {
  width: 49.25%;
  float: left;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.AdminDashboard .middleBar {
  width: 1.5%;
  height: 100%;
  min-height: 150vh;
  background-color: #3EA36A;
  float: left;
  position: fixed;
  top: -100px;
  z-index: 0;
}

.AdminDashboard .middleBarWrap {
  width: 1.5%;
  height: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
}
.AdminDashboard .container.mobile{
  display:none; 
}

@media (max-width:1023px){
.AdminDashboard .container.mobile{
  display:block; 
  position: relative;
}
.AdminDashboard .container.desktop{
  display:none; 
}
.AdminDashboard .container.mobile .leftContainer{
    width: 100%;
  }
.AdminDashboard .container.mobile .rightContainer{
    width: 100%;
    border-left:0;
  }
.AdminDashboard .container.mobile .AgentDashTab{
      margin: 0;
      padding: 0;
      list-style: none;
      width:300px;
      margin: 0 auto;
      background: #fff;
      height: 24px;
      border-radius: 40px;
  }
  .AdminDashboard .container.mobile .AgentDashTab li{
     display: inline-block;
    font-family: Comfortaa;
    font-size: 14px;
    color: #474747;
    font-weight: 700;
    width: 50%;
    text-align: center;
    outline:none; 
    cursor: pointer;
    font-weight: lighter;
  }
  .AdminDashboard .container.mobile .AgentDashTab .react-tabs__tab--selected{
    color: #3cac71;
    font-weight:bold;
  }
  .AdminDashboard .container.mobile .AgentDashTab li:first-child{
    border-right: 1px solid #8a8a8a;
    vertical-align: middle;
    margin: -3px 0 0 0;
  }
  .AdminDashboard .container.mobile .top_tabs{
    background-color: #3EA36A;
    padding: 24px 0;
    }
}

@media (max-width:767px){
  .AdminHeader .Admin {
    padding: 0 0 16px;
    font-size: 25px;
 }
}